
Phase_1/Note/EP1.py
Phase_1/Note/EP2.py
Phase_1/Note/EP3_print.py
Phase_1/Note/EP4_data_types_and_variables.py
Phase_1/Note/EP6_type_conversion.py
Phase_1/Note/EP5_variable_declaration.py
Phase_1/Note/EP7_manual_input.py
Phase_1/Note/EP8_operators.ipynb
